#loader {
  position: fixed;
  top: -60vh;
  left: -60vw;
  width: 120vw;
  height: 120vh;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(108, 199, 232);
}

#loader-title {
  font-size: 2em;
  color: white;
  text-align: center;

  text-shadow:
    -4px -4px 0 #000,
     4px -4px 0 #000,
    -4px  4px 0 #000,
     4px  4px 0 #000;
}