.player-selection {
  position: absolute;
  top: 20px;
  right: 20px;

  height: 150px;
  width: 150px;

  padding: 12px 16px;
  background: rgba(0,0,0,0.1);
  color: white;
  border-radius: 8px;

  font-weight: bold;
  backdrop-filter: blur(6px);

  animation: fadeIn 0.5s ease-out;
  z-index: 10;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.player-selection.fade-out {
  animation: fadeOut 0.5s ease-in forwards;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
