#result-container {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  #result {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
  }

  button {
    background-color: red;
    padding: 20px 50px 20px 50px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    color: white;
    border: solid 1px red;
    box-shadow: 3px 5px 0px 0px rgba(0,0,0,1);
  }

  button:active {
    transform: translate(1px, 2px);
    box-shadow: 2px 3px 0px 0px rgba(0,0,0,1);
  }
}