#score {
  position: absolute;
  top: 20px;
  left: 20px;

  font-size: 2em;
  color: white;
  text-shadow:
    -4px -4px 0 #000,
     4px -4px 0 #000,
    -4px  4px 0 #000,
     4px  4px 0 #000;
}


#top-score {
  font-size: 20px;
  text-shadow:
    -2px -2px 0 #000,
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
  margin-top: 10px;
  opacity: 0.9;
}