#controls {
  position: absolute;
  bottom: 20px;
  min-width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  opacity: 0;
  transform: translateY(5px);
  animation: controlsFadeIn 0.5s ease-out forwards;
}

@keyframes controlsFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


#controls div {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  gap: 10px;
}

#controls button {
  width: 100%;
  height: 40px;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 3px 5px 0px 0px rgba(0,0,0,0.75);
  cursor: pointer;
  outline: none;
}

#controls button:first-of-type {
  grid-column: 1/-1;
}

button:active {
    transform: translate(1px, 2px);
    box-shadow: 2px 3px 0px 0px rgba(0,0,0,1);
  }


  #controls button.invalid {
  background-color: #ff4d4d;
  border: #ff4d4d;
  animation: shake 0.2s;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}
