@font-face {
  font-family: "8BitWonder";
  src: url("../public/assets/8-BIT\ WONDER.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}


.game {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  overflow: hidden;
  font-family: "8BitWonder";
}
