@import url("https://fonts.googleapis.com/css?familty=Press+Start+2P");

.game {
  width: 100%;
  height: 100%;
  position: fixed;   /* IMPORTANT */
  inset: 0;          /* top:0 left:0 right:0 bottom:0 */
  overflow: hidden;
  font-family: "Press Start 2P", cursive;
}
